git+https://github.com/amueller/word_cloud.git
git+https://github.com/minimaxir/stylecloud.git

flask
slack_bolt
python-dotenv
numpy
pandas
datetime
seaborn
plotly
matplotlib
kaleido
azure.cognitiveservices.speech

azure.functions
azure.storage.blob
slack_sdk
slackeventsapi

deepl

mysql.connector
scipy
slack
aiohttp
sqlalchemy
pymysql

Flask-SQLAlchemy

stop-words
wikipedia
pillow

nltk
click
joblib

regex
tqdm




